
body {
    color: white;
    background-color: black;
}

.nav-bar {
    display: flex;
    padding: 10px;
}

.nav-bar-item {
    margin: 0px 10px 0px 10px;
}

.mui-navbar-icon {
    width: 21px;
    height: 21px;
    fill: white;
}